<div class="card card-body bg-light">
	<div class="col-md-12">
		<a routerLink="/lugares">Lugares</a><span> / Contacto</span>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 form">
			<form>
				<div class="form-group">
					<label>Nombre</label>
					<input type="text" class="form-control" placeholder="Ingresa tu nombre">
				</div>
				<div class="form-group">
					<label>Correo</label>
					<input type="email" class="form-control" placeholder="Ingresa tu email">
				</div>
				<div class="form-group">
					<label>Mensaje</label>
					<textarea class="form-control" placeholder="Ingresa tu comentario"></textarea>
				</div>
				<hr>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Enviar</button>
					<button type="submit" class="btn btn-secondary" routerLink="/lugares">Cancelar</button>
				</div>
			</form>
		</div>
		<div class="col-md-6 text-center centrar">
			<h1>Platzi Square</h1>
			<p>Dirección conocida</p>
			<p>+52 000 000 0000</p>
			<p>contacto@platzisquare.com</p>
			<p>www.platzisquare.com</p>
		</div>
	</div>
</div>
<agm-map [latitude]="lat" [longitude]="lng">
	<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>