<section class="Mapa">
	<agm-map [latitude]="lat" [longitude]="lng" [zoom]="11">
		<agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
	</agm-map>
</section>
<ng-container *ngIf="mensajeErrorMostrar">
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="close" (click)="cerrarMensajeError()">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Ocurrió un problema</strong>
		<br> {{mensajeError}}
	</div>
</ng-container>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<a routerLink="/crear/new" class="btn btn-primary" *ngIf="lugares">Nuevo Negocio</a>
				<h2>Lugares Cercanos</h2>
				<ul class="list-group">
					<ng-container *ngFor="let lugar of lugares">
						<li class="list-group-item">
							<div class="row card-body bg-light">
								<div class="col-md-10">
									<h4>
										{{ lugar.nombre }}
										<br>
										<small>Creado: {{ lugar.id | date:"medium" }}</small>
									</h4>
									<p [innerHtml]="lugar.descripcion | linkifystr"></p>
								</div>
								<div class="col-md-1">
									<a routerLink="/crear/{{lugar.id}}">
										<i class="fa fa-pencil" aria-hidden="true"></i>
									</a>
								</div>
								<div class="col-md-1" *ngIf="lugar.plan == 'Pagado'">
									<i class="fa fa-star" aria-hidden="true"></i>
								</div>
							</div>
						</li>
					</ng-container>
				</ul>
			</div>
			<div class="col-md-4" [@contenedorAnimable]="state">
				<h2>Destacados</h2>
				<ng-container *ngFor="let lugar of lugares">
					<div class="alert alert-warning padding" *ngIf="lugar.plan == 'Pagado'">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-10">
										<a routerLink="/crear/{{lugar.id}}">
											<h4>
												{{ lugar.nombre }}
											</h4>
										</a>
									</div>
									<div class="col-md-2">
										<i class="fa fa-star" aria-hidden="true"></i>
									</div>
								</div>
							</div>
							<div class="col-md-12 text-justify">
								<p [innerHtml]="lugar.descripcion | linkifystr" class="lead"></p>
							</div>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</section>