<div class="container">
	<div class="row justify-content-center">
		<div class="col-4">
			<h1 class="text-center">Login</h1>
			<div class="alert alert-secondary">
				<label>Email</label>
				<input type="email" class="form-control" name="email" [(ngModel)]="loginParams.email">
				<br>
				<label>Contraseña</label>
				<input type="password" class="form-control" name="password" [(ngModel)]="loginParams.password">
				<hr>
				<button class="btn btn-warning btn-lg btn-block" (click)="login()">Login</button>
				<button class="btn btn-primary btn-lg btn-block" (click)="facebookLogin()">Login con FaceBook</button>
				<button class="btn btn-secondary btn-lg btn-block">Cancelar</button>
			</div>
		</div>
	</div>
</div>