<div class="card card-body bg-light">
	<div class="col-md-12">
		<a routerLink="/lugares">Lugares</a><span> / {{lugar.nombre}}</span>
	</div>
</div>
<div class="container">
	<h1>{{lugar.nombre}}</h1>
	<hr>
	<small>{{lugar.distancia}} km</small>
	<div class="card card-body bg-light">
		<p>
			{{lugar.descripcion}}
		</p>
		<b>Plan: {{lugar.plan}}</b>
	</div>
</div>