<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Platzi Square</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/lugares">Inicio <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/contacto">Contacto</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" *ngIf="!loggedIn">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/login">Login</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/registro">Registro</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" *ngIf="loggedIn">
			<li class="nav-item" *ngIf="loggedUser">
				<span class="navbar-text">{{loggedUser}}</span>
			</li>
			<li>
				<a class="nav-link cursor" (click)="logout()">Logout</a>
			</li>
		</ul>
	</div>
</nav>
<router-outlet></router-outlet>
<!-- <ul class="list-group">
	<ng-container *ngFor="let lugar of lugares; let i = index" [ngSwitch]="lugar.cercania">
		<a>
			<li
				cambiar opacidad al dar clicks
				contar-clicks
				si es cuenta activa
				[ngStyle]="{color: (lugar.active) ? 'black' : 'gray'}"
				si son pares
				[ngClass]="{numero_par: (i+1) % 2 !== 0}"
				si la cuenta son de plan pagado
				[resaltar]="lugar.plan"
			>
				{{ lugar.nombre }} -
				<span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Muy Cercano</span>
				<span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Cercano</span>
				<span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Lejano</span>
			</li>
		</a>
	</ng-container>
</ul> -->
