<div class="card card-body bg-light">
	<div class="col-md-12">
		<a routerLink="/lugares">Lugares</a><span *ngIf="this.id == 'new'"> / Nuevo Lugar</span><span *ngIf="this.id != 'new'"> / Editar Lugar</span>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 form">
			<form>
				<div class="form-group">
					<label>Nombre</label>
					<input type="text" class="form-control" [(ngModel)]="lugar.nombre" name="nombre">
				</div>
				<div class="form-group">
					<label>Distancia</label>
					<input type="number" class="form-control" [(ngModel)]="lugar.distancia" name="distancia">
				</div>
				<div class="form-group">
					<label>Cercanía</label>
					<input type="number" class="form-control" [(ngModel)]="lugar.cercania" name="cercania">
				</div>
				<div class="form-group">
					<label>Descripción</label>
					<textarea class="form-control" [(ngModel)]="lugar.descripcion" name="descripcion"></textarea>
				</div>
				<div class="from-group">
					<label>Plan</label>
					<select class="form-control" [(ngModel)]="lugar.plan" name="plan">
						<option value="" disabled selected>Seleccione un plan</option>
						<option value="Pagado">Pagado</option>
						<option value="Gratuito">Gratuito</option>
					</select>
				</div>
				<hr>
				<div class="form-group">
					<h3>Dirección del Negocio</h3>
					<div class="alert alert-secondary" role="alert">
						<form>
							<label>Buscar negocio en Google</label>
							<input type="text" class="form-control" [formControl]="searchField">
						</form>
						<ul class="list-group">
							<li class="list-group-item" *ngFor="let result of results$ | async" (click)="seleccionarDireccion(result)">{{result.formatted_address}}</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<label>Calle y Número</label>
					<input type="text" class="form-control" placeholder="Ingresa la dirección del negocio" [(ngModel)]="lugar.calle" name="calle">
				</div>
				<div class="form-group">
					<label>Ciudad</label>
					<input type="text" class="form-control" [(ngModel)]="lugar.ciudad" name="ciudad">
				</div>
				<div class="form-group">
					<label>País</label>
					<input type="text" class="form-control" [(ngModel)]="lugar.pais" name="pais">
				</div>
				<hr>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" (click)="guardarLugar()">Enviar</button>
					<button type="submit" class="btn btn-secondary" routerLink="/lugares">Cancelar</button>
				</div>
			</form>
		</div>
		<div class="col-md-6 text-center centrar" *ngIf="this.id == 'new'">
			<h1>Nuevo Negocio</h1>
		</div>
		<div class="col-md-6 text-center centrar" *ngIf="this.id != 'new'">
			<h1>Editar Negocio</h1>
		</div>
	</div>
</div>