form{
	padding: 20px;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

input, textarea, select{
	width: 300px;
}

.form {
	/*background: rgba(0,0,0,0.5);*/
}

.form label {
	color: #000;
}

.centrar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #000;
	/*background: rgba(0,0,0,0.5);*/
	padding: 20px;
	/*text-shadow: 1px 1px 1px black;*/
}

.container {
	height: 100%;
	margin: 0;
	max-width: 100%;
}

.row {
	background-image: url('../../assets/img/fondo3.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}