<div class="container">
	<div class="row justify-content-center">
		<div class="col-4">
			<h1 class="text-center">Regsitro</h1>
			<div class="alert alert-secondary">
				<label>Email</label>
				<input type="email" name="email" class="form-control" [(ngModel)]="registro.email">
				<br>
				<label>Contraseña</label>
				<input type="password" name="password" class="form-control" [(ngModel)]="registro.password">
				<hr>
				<button class="btn btn-primary btn-lg btn-block" (click)="registrar()">Registrarse</button>
				<button class="btn btn-secondary btn-lg btn-block">Cancelar</button>
			</div>
		</div>
	</div>
</div>