.row {
	background-image: url('../../assets/img/fondo3.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.alert {
	margin-top: 15px;
}